@import './variables.css';

body {
    margin: 0;
    background-color: #F3F7FA;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.searchingPage {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 960px;
    padding: 0 100px;
    margin: 0 auto;
}

.searchingResults {
    min-width: 500px;
}
