body {
    background-color: #F3F7FA;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.searchingPage {
    display: flex;
    justify-content: center;
}

.searchingPage [class*="transferContainer"] {
    margin-right: 16px;
}
