@import './variables.css';

body {
    margin: 0;
    background-color: #F3F7FA;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.searchingRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;

}

.searchingPage {
    display: flex;
    padding: 0 100px;
}

.searchingResults {
    min-width: 500px;
}

.searchingLogo {
    align-self: center;
    margin: 30px 0;
}
