.transferContainer {
	min-width: 232px;
	padding: 0 16px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.titleContainer {
	font-weight: 500;
}

.transferItem {
	display: flex;
	align-items: center;
	padding-bottom: 16px;
}

.transferItem input {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}
