.transferContainer {
	align-self: baseline;
	box-sizing: border-box;
	min-width: 232px;
	padding: 20px;
	margin-right: 16px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 8px 0 #0000001A;
}

.titleContainer {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.transferItem {
	display: flex;
	align-items: center;
	padding: 10px 0;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.transferItem input {
	width: 20px;
	height: 20px;
	margin: 0 8px 0 0;
}
