.toggleGroup {
	display: flex;
	margin-bottom: 15px;
}

.toggleGroup input[type=radio] {
	display: none;
}

.toggleGroup label {
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	letter-spacing: 0.5px;
	border: 1px solid #DFE5EC;
	border-right: none;
}

.toggleGroup .toggleItem:first-child label {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.toggleGroup .toggleItem:last-child label {
	border-right: 1px solid #DFE5EC;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.toggleGroup input[type=radio]:checked + label {
	background: var(--color-blue-primary);
	color: #fff;
	border-color: var(--color-blue-primary);
}

.toggleGroup label:hover {
	color: var(--color-blue-primary);
}

.toggleItem {
	flex-grow: 1;
}
